<section class="w-75 mx-auto bg-light rounded-2 p-4 mt-4" *ngIf="cartData ;else message">
    
    <div class="d-flex justify-content-between align-items-center">
            <h3>Shop Cart</h3>
            <button (click)="clearCart()" class="btn btn-outline-danger"> Clear Cart</button>
    </div>

    <h6 *ngIf="cartData.totalCartPrice" class="h5 color-main mt-2 mb-0">Total Price : {{cartData.totalCartPrice}} EGP </h6>

    <div class="row mt-2 align-items-center" *ngFor="let item of cartData.products">
        <div class="col-md-4 mt-2 mb-2">
            <img class="w-75" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>

        <div class="col-md-6  py-2">
            <h6 class="h4 text-muted">{{item.product.title| cuttext:2 }}</h6>
            <h6 class="h5 color-main mt-3 mb-3 ">Product Price : {{item.price}} EGP </h6>
            <h6 class="h4 mt-3 mb-3"> <i class="fa-solid fa-cart-shopping me-2 cursor-pointer" title="cart item"></i>
                 <button #btn1 (click)="changeCount( item.count+1 , item.product._id , btn1 , btn2 )" class="border-0"> + </button>
                  {{item.count}}
                <button #btn2 (click)="changeCount( item.count-1 , item.product._id  , btn1 , btn2 )" class="border-0"> - </button> 
            </h6>
              <button #removeBtn (click)="removeCartItem(item.product._id , removeBtn)" class="btn btn-outline-danger mt-3 mb-3"><i class="fas fa-trash" title="delete item"></i> Remove Product </button>
        </div>
    </div>

    <button [routerLink]="['/payment' , cartData._id ]" class="myButton mt-4"> Online Payment <img src="../../../assets/images/visa-1.svg" alt="visa logo"></button>


</section>


<ng-template #message>
    <h2 class="text-center mt-4">Your Cart is empty</h2>
</ng-template>
